@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme((color-primary: #3366FF,
            color-secondary: #00D68F,
            background-basic-color-1: #F7F9FC,
            text-basic-color: #222B45,
            button-primary-color: #FFAA00,
        ), default, default);

$nb-themes: nb-register-theme((color-primary: #1A1F36,
            color-secondary: #00A676,
            background-basic-color-1: #121212,
            text-basic-color: #E4E9F2,
            button-primary-color: #FFD166,
        ), dark, dark);